include:
  # Select the compose file you want to use.
  - path: docker-compose.infra.yml
  - path: docker-compose.docker.yml
  - path: docker-compose.docker.ops.yml

x-no-proxy: &no_proxy
  NO_PROXY: localhost,127.0.0.1,::1,agent,database,gateway,s3-storage,victorialogs,registry,runtime-node,host.docker.internal
  no_proxy: localhost,127.0.0.1,::1,agent,database,gateway,s3-storage,victorialogs,registry,runtime-node,host.docker.internal

services:
  provisioner:
    environment:
      <<: *no_proxy
  gateway:
    environment:
      <<: *no_proxy
  agent:
    environment:
      <<: *no_proxy
