services:
  agent:
    image: esb-agent:${ESB_IMAGE_TAG:-latest}
    build:
      context: services/agent
      dockerfile: Dockerfile
    container_name: ${ESB_PROJECT_NAME:-esb}-agent
    cap_add: [NET_ADMIN, SYS_ADMIN]
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - PORT=50051
      - CONTAINER_REGISTRY=${CONTAINER_REGISTRY:-}
      - CNI_SUBNET=${CNI_SUBNET:-}
      # Default: Overridden by Adapter
      - AGENT_RUNTIME=${AGENT_RUNTIME:-containerd} 
      - CONTAINERS_NETWORK=${ESB_NETWORK_EXTERNAL:-test-external}
      - HTTP_PROXY
      - HTTPS_PROXY
      - NO_PROXY
      - http_proxy
      - https_proxy
      - no_proxy
    volumes:
      - ${ESB_CERT_DIR:-~/.esb/certs}/rootCA.pem:/usr/local/share/ca-certificates/esb-rootCA.crt:ro
    command: >
      sh -c "update-ca-certificates && /app/agent"
    restart: unless-stopped
