[Interface]
Address = 10.99.0.1/24
PrivateKey = <GATEWAY_PRIVATE_KEY>
MTU = 1340

[Peer]
PublicKey = <COMPUTE_PUBLIC_KEY>
Endpoint = <COMPUTE_VM_IP>:51820
AllowedIPs = 10.88.1.0/24, 10.99.0.2/32
PersistentKeepalive = 25
