[Service]
Environment="http_proxy={{ proxy_http }}"
Environment="https_proxy={{ proxy_https }}"
Environment="no_proxy={{ proxy_no }}"
Environment="HTTP_PROXY={{ proxy_http }}"
Environment="HTTPS_PROXY={{ proxy_https }}"
Environment="NO_PROXY={{ proxy_no }}"
